[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = collective.jbot
package-extras = [test]

parts +=
    omelette

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/collective/jbot
pre-commit-hook = True
flake8-ignore = E501
clean-lines = True
deprecated-aliases = True
imports = True
prefer-single-quotes = True
return-status-codes = False
utf8-header = True

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}
